<div id="<%= dom_id board %>" class="flex flex-col items-start justify-between gap-4 border bg-neutral-900 border-neutral-500 shadow-md rounded-md p-8 h-[200px] relative">
  <div class="absolute top-1 right-1 transale dropdown dropdown-start">
    <button class="flex items-center justify-center ml-auto rounded-full p-1 bg-neutral-600 hover:bg-neutral-500 transition-all">
      <%= lucide_icon("ellipsis", class: "w-4") %>
    </button>
    <ul class="dropdown-content menu w-52 rounded-box bg-base-100 shadow-sm">
      <li class="min-w-[150px]"> <%= link_to "Edytuj", edit_board_path(board), class:"min-w-[150px] text-left hover:cursor-pointer" %>
      </li>
      <li class="min-w-[150px]"> <%= button_to "Usuń", board, method: :delete, class:"text-red-400 min-w-[150px] text-left hover:cursor-pointer", data: { turbo_confirm: "Are you sure?" } %></li>
    </ul>
  </div>
  <%= board.title %>
</div>
