<div id="<%= dom_id board %>" class="relative">
  <%= link_to board, class: "block" do %>
    <div class="flex flex-col items-center justify-center gap-4 border bg-neutral-900 border-neutral-500 shadow-md rounded-md p-8 h-[200px]">
      <p class="se">
        <%= board.title %>
      </p>
    </div>
  <% end %>
  <span class="text-neutral-500 absolute top-4 left-4">
    <div class="inline-grid *:[grid-area:1/1]">
      <div class="status status-success animate-ping"></div>
      <div class="status status-success"></div>
    </div>
    Tablica
  </span>
  <div class="absolute top-4 right-4 translate dropdown dropdown-start">
    <button class="flex items-center justify-center ml-auto rounded-full p-1 bg-neutral-600 hover:bg-neutral-500 transition-all">
      <%= lucide_icon("ellipsis", class: "w-4") %>
    </button>
    <ul class="dropdown-content menu w-52 rounded-box bg-base-100 shadow-sm min-w-[150px] border border-neutral-600">
      <li class="min-w-[150px]"><%= link_to "Edytuj", edit_board_path(board), class:"min-w-[150px] text-left hover:cursor-pointer" %></li>
      <li class="min-w-[150px]"><%= button_to "Usuń tablicę", board, method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"text-red-400 min-w-[150px] text-left hover:cursor-pointer" %></li>
    </ul>
  </div>
</div>